.donate-page {
  &--parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 5%;
  }

  &-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 25px;
    width: 50%;
  }

  &--cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;

    p {
      margin: 5px;
    }
  }

  &--banks-buttons {
    display: flex;
    flex-direction: column;
  }

  &--method-name {
    font-weight: 700;
    margin: 0;
  }

  &--paypal-container {
    width: 100%;
  }

  &--in-person-container {
    width: 100%;
  }
}

@media(max-width: 769px) {
  .donate-page {
    &-container {
      width: 100%;
      font-size: 18px;
      flex-direction: column;
    }

    &--cards-container {
      align-items: center;
    }

    &--paypal-container, &--in-person-container {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 60%;
    }

    &--banks-buttons {
      width: calc(100% - 60px);
      align-items: center;
    }
  }

  .donate-cards-container {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}

@media(max-width: 400px) {
  .donate-page {
    &--paypal-container, &--in-person-container {
      width: 80%;
    }
  }


  .donate-cards-container {
    width: 80%;
  }
}
