.main-page {
  &-counter {
    display: flex;
    margin: 20px 0 30px 100px;
    &-text {
      font-weight: bold;
      font-size: 40px;
      align-self: flex-start;
    }
  }
}

.counter {
  font-size: 60px;
  color: var(--ultramarine);
  font-weight: bolder;
  letter-spacing: -3px;
}
