:root {
  --white: #FFFFFF;
  --light-orange: #F4C6A5;
  --light-blue: #F4F8FB;
  --ultramarine: #0236D4;
  --primary-blue: #122658;
  --dark-grey: #303030;
  height: 100vh;
}

.ant-card--image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.App-wrapper {
  height: 100vh;

  &--fade {
    background-color: #303030;
    opacity: 80%;
  }
}

.App {
  height: 97vh;

  & > .link {
    margin: 25px;

    a {
      color: #303030;
      position: fixed;
      bottom: 10px;
      right: 15px;
    }
  }

  .ant-btn {
    &-primary {
      background-color: #0236D4;
    }
  }
}


.ant-card {
  &-body {
    height: 150px;
    max-width: 300px;
  }

  &-meta {
    width: 100%;
  }

  &-meta-title {
    font-weight: bold;
    font-size: 20px;
    white-space: pre-wrap;
  }
}

.something-went-wrong--page {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media(max-width: 768px) {
  .ant-card-bordered {
    width: 400px;
  }

  .ant-card--image {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}

@media(max-width: 376px) {
  .ant-card-bordered {
    width: 300px;
  }

  .ant-card {
    &-body {
      height: 100px;
    }
  }


  .ant-card--image {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .App > .link {
    margin: 25px;

    a {
      bottom: 0;
      right: 0;
      width: 100%;
      background-color: white;
      text-align: right;
    }
  }
}

